
<a href="/admin/Kategoriler/Insert" style="margin-bottom:15px;">Yeni Ekle</a>
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Kategori</td>
        <td>Durumu</td>
        <td>İşlemler</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Status</td>
            <td>
                <a href="/Admin/Kategoriler/Update/@item.Id" class="btn btn-primary">Güncelle</a>
                <a href="/Admin/Kategoriler/Delete/@item.Id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>